@{
    ViewData["Title"] = "Home Page";
}
@model ZoologicoCrud.DTOS.AnimalReadDto
<div class="text-center">
    <h1 class="display-4">@Html.DisplayNameFor(a=>a.Name)</h1>
    <p>@Html.DisplayFor(a=>a.Name)</p>
</div>
