@* @model ZoologicoCrud.DTOS.AnimalCreateDto
@{

    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<form method="post" asp-controller="Home" asp-action="Privacy">
    <label asp-for="Name"  ></label>
    <input type="text" asp-for="Name" />
    <label asp-for="Description"></label>
    <input type="text" asp-for="Description" />
    <label asp-for="Gender"></label>
    <input type="text" asp-for="Gender" />
    <label asp-for="File"></label>
    <input type="text" asp-for="File" />
    <label asp-for="SpecieId"></label>
    <select asp-for="SpecieId">
        <option value="reptil">Reptil</option>
        <option value="mamifero">Mamifero</option>
        <option value="marino">Marino</option>
        <option value="roedores">Roedores</option>
    </select>
    <button type="submit">Enviar</button>
</form>
 *@
